add_contact_help_url = "http://www.google.com/support/wave/bin/topic.py?topic=24977"

add_notification_emails_help_url = "http://www.google.com/support/wave/bin/answer.py?hl=en&answer=175738"

all_template_locales = ""

all_tutorial_locales = ""

all_welcome_wave_locales = ""

autoprint = true

background_page_delay = 150

background_page_size = 200

clear_pending_notifications = false

client_load_search_timeout_ms = 5000

close_suggestions_menu_delay_ms = 500

configure_notification_settings = false

csi_experiment_ids = ""

csi_service = "wave_dev"

default_thread_state = "EXPANDED"

digest_removal_cooldown_ms = 5000

disable_template_prefetch = false

edit_access_check_ms = 20000

editor_instrumentation_bundle_size = 20

editor_instrumentation_frequency = 5

enable_abort_on_empty_blip_means_cancel = false

enable_attachment_domains = false

enable_blip_context_menu = false

enable_blip_report_abuse = false

enable_client_created_welcome_wave = false

enable_config_notification_announce_popup = false

enable_console_logging = false

enable_contacts_in_nav_panel = false

enable_copy_participants = false

enable_copy_to_new_wave_options = false

enable_debug_menu = false

enable_delete_root_blip = false

enable_demo_mode = false

enable_digest_lite = false

enable_digest_optimism = true

enable_editor_debugging = false

enable_editor_instrumentation = false

enable_equation_editor = false

enable_expand_with = false

enable_export_button = false

enable_export_menu_item = false

enable_export_to_google_docs = false

enable_extension_cache = true

enable_extensions_quicklink = true

enable_external_site_sharing = false

enable_fake_mode = false

enable_folder_colors = false

enable_full_screen_maximize = false

enable_full_wave_edit_mode = false

enable_g_view_in_new_tab = false

enable_groups_in_nav_panel = false

enable_hiring_message = false

enable_hover_inline_replies = false

enable_html_templates = false

enable_image_downsampling = true

enable_invite_by_email = false

enable_invite_by_email_callout = true

enable_json_message_debug = false

enable_link_to_blip = false

enable_link_to_here_button = false

enable_link_to_wave = false

enable_nav_panel_logo = false

enable_new_blip_ui = false

enable_new_collapsable_thread_ui = false

enable_new_shiny_ui = false

enable_next_unread_blip_in_footer = false

enable_next_unread_blip_in_toolbar = false

enable_notification_announce_popup = false

enable_notification_per_wave = false

enable_notification_settings = false

enable_nubif_monkey_punching = false

enable_one_wave = false

enable_optimistic_digest_archiving = false

enable_participant_diff_on_open = true

enable_participant_roles = false

enable_playback_restoration = false

enable_print_button = false

enable_print_ctrl_p = false

enable_print_menu_item = false

enable_quick_blip_delete = false

enable_refinement = false

enable_regex_hooks = true

enable_remove_participant = true

enable_reply_box = false

enable_rosy = false

enable_scrolly = true

enable_search_drag_drop = true

enable_search_panel = false

enable_seen_versioning = true

enable_selection_menu = false

enable_simple_digest = false

enable_spell_autocorrect = false

enable_spelly = true

enable_still_uploading_warning = true

enable_template_locales = false

enable_templated_search_panel_new_wave = false

enable_templated_welcome_panel = false

enable_thumbnail_menu = false

enable_toolbar_categories = false

enable_top_panel = true

enable_trust_request = false

enable_trusty_blacklist = false

enable_tutorial_locales = false

enable_type_to_continue = false

enable_undercurrent_editing = true

enable_undo = true

enable_viewport_stats = false

enable_wave_panel_harness = true

enable_wave_undo = false

enable_wave_undo_buttons = false

enable_wave_undo_ui = false

enable_web_socket_mode = false

enable_webdriver_hook = false

enable_welcome_panel_hooks = false

enable_welcome_panel_tutorial = false

enable_welcome_wave_locales = false

expand_welcome_panel_tutorial = false

extensions_all_group = ""

extensions_featured_group = ""

fail_fast_on_unauthorised_edits = false

feedback_url = ""

follow_all_waves = true

force_new_welcome_panel = false

force_show_notification_announce_popup = false

gview_provider_id = ""

gview_url = ""

hide_blue_line_replies = false

hide_reply_button = false

hiring_message = "Wave team is _hiring_!"

idle_timeout_millis = 300000

ignore_udw_errors = true

inherit_access_roles = true

initial_rpc_backoff_ms = 1000

invite_by_mail_help_url = "http://www.google.com/support/wave/bin/answer.py?answer=182709"

is_internal_dogfood_instance = false

known_issues_number = -1

layout_animation_ms = 300

learn_more_about_notifications_help_url = "http://www.google.com/support/wave/bin/answer.py?hl=en&answer=175737"

list_email_contacts = true

load_or_create_settings_waves = false

logo_height = 39

logo_url = "static/images/logo.png"

logo_width = 136

max_callout_participants = 3

max_contacts_desktop = 50

max_contacts_mobile = 30

max_number_of_pings = 10

max_prefetch_burst_rate = 40

max_prefetch_steady_rate = 0.5

max_rpc_backoff_ms = 60000

max_rpc_burst_rate = 10

max_rpc_steady_rate = 1.0

min_rpc_retry_time = 5000

munge_domains = "gmail.com googlemail.com"

no_indented_replies = false

no_udw_authors = ""

num_participant_suggestions = 5

num_short_name_contacts = 50

ping_type = "DISABLED"

playback_prefetch_delay = 1000

preserve_selection_on_edit = false

profile_picture_gadget_url = "https://wave.google.com/wave/static/gadgets/onepick.xml"

reconnection_fudge_time = 10000

refresh_contacts_delay_seconds = 30

remove_participant_access_check_ms = 10000

render_all_replies_inline = false

replace_all_with_public = false

robot_domains = ""

sanity_checker_timeout_ms = 60000

scheduler_knobs = false

scrolly_flat_speed = 300

scrolly_flat_threshold = 25

scrolly_gradient = 5

scrub_referrers = true

search_email_contacts = true

settings_available_languages = "ar bg ca cs da de el en en_GB es fi fil fr hi hr hu id it iw ja ko lt lv nl no pl pt pt_PT ro ru sk sl sr sv th tr uk vi zh zh_TW"

show_bi_di_buttons = false

show_gadget_setting = false

show_language_setting = false

show_public_participant = true

show_scrolly_setting = false

show_trust_urls_setting = false

slow_task_bucket_cutoff = 3

slow_task_min_ms_cutoff = 100

slow_tasks_reported = 10

spell_correct_high_threshold = 0.0

spell_correct_threshold = 1.0

spell_menu_delay_ms = 100

suggestion_poll_interval = 10000

template_load_timeout_ms = 10000

uix_image_proxy_url = "http://opensocial-prod.corp.googleusercontent.com/gadgets/proxy"

use_attachment_data_documents = true

use_backend_contacts = false

use_background_wave_paging = false

use_colored_carets = true

use_conversation_model = false

use_diff_on_open = true

use_extension_waves = true

use_fancy_cursor_bias = false

use_follow = false

use_history_server_for_playback = true

use_idle_detector = false

use_line_container = true

use_new_blip_structure = true

use_new_contact_picker = false

use_participant_panel_drag_drop = false

use_participant_suggestion = false

use_presentation_model = false

use_private_gadget_states = true

use_profile_waves = true

use_semantic_copy_paste = true

use_wave_paging = false

use_webkit_composition_events = true

use_whitelist_in_editor = false

validate_local_ops = true

wave_cache_time_to_evict = 60000

wave_fetch_timeout = 15000

wave_loading_indicator = false

wave_page_ratio = 1.2

wave_user_domain = "googlewave.com"

wavelet_sync_indicator_timeout_ms = 12000

welcome_panel_template_captions = ""

welcome_panel_template_icons = ""

welcome_panel_template_waves = ""

welcome_panel_tutorial_captions = ""

welcome_panel_tutorial_icons = ""

welcome_panel_tutorial_waves = ""

welcome_wave_id = ""


#
# RENDERING
#
# Prerendered upper screen number
# Number of screens that must be rendered additionally above the visible screen.
prerendered_upper_screen_number = 1.0

# Prerendered lower screen number
# Number of screens that must be rendered additionally below the visible screen.
prerendered_lower_screen_number = 1.0

# Supplement update delay
# Delay for saving state to the supplement (in milliseconds).
supplement_update_delay_ms = 5000

# Immediate render scroll speed
# The scrolling speed after which immediate rendering is possible (in pixels per second).
immediate_render_scroll_speed_px_s = 100.0

# After scroll render delay
# Delay of start rendering after scrolling (in milliseconds).
after_scroll_render_delay_ms = 100

#
# GADGETS
#
# Gadget server URL
# Used to construct gadget iframe URL directly without sending POST to server to receive metadata.
# Format: "<domain>:<port>/<path>"
# Example: "gadgets.wiab.pro:80/gadgets"
# Empty string (default value) means that iframe URL should be taken from metadata fetched from server.
gadget_server_url = ""

# Gadget relay path
gadget_relay_path = "gadgets/files/container/rpc_relay.html"

# Gadget RPC path
# Location of the RPC JavaScript code to be loaded into the client code.
# This is the standard Gadget library to support RPCs.
gadget_rpc_path = "/gadgets/js/core:rpc.js"

# Gadget metadata lifetime
# How much time gadget metadata can be kept in the cache (in milliseconds).
gadget_metadata_lifetime_ms = 3600000


#
# DEBUG
#
# Client debug flag
# Possible values:
# - on, if client debug is on and debug frame should be displayed in the bottom of the wave screen
# - off, if client debug is off and debug frame shouldn't be displayed
# - default, if client debug state depends on compilation rules (developer/production mode)
enable_client_debug = default {on off default}
